.{
    margin: 10px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
fieldset{
    background-color: rgb(152, 152, 230);
    margin: 20px;
    border-color: darkslategray;
    border-style: dotted;
    border-radius: 15px;
}
legend{
    background-color:aliceblue;
    margin: 10px;
    border-color: darkslategray;
    border-style:solid;
    border-radius: 5px;
    padding:10px;

}
form {
    height: 1500px;
    width: 1000px;
    margin: 0px auto;
}